server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true  # Enable automatic route mapping to the  Eureka server
          lower-case-service-id: true

      routes:


        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**, /auth/**     # Include auth endpoints


        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/products/**


        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
