server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false  # Eureka khud ko register nahi karega
    fetch-registry: false         # Eureka registry fetch nahi karega
    service-url:
      defaultZone: http://localhost:8761/eureka/
  
  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME:localhost}
    prefer-ip-address: false
  
  server:
    enable-self-preservation: true  # Production ke liye true rakhein
    renewal-percent-threshold: 0.85
    eviction-interval-timer-in-ms: 10000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always